*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.container{
display: flex;
align-items: center;
/* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a{
    text-decoration: none;
}

.grou-7{
   
    display: flex;
}

.jakarta{
    background-color: black;
    width: 450px;
  /* height: 799px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jakarta h1 {
    color: white;
    text-align: left;
    font-size: 85px;
    line-height: 88%;
    white-space: nowrap;
    margin-bottom: 218px;
    margin-left: 205px;
    position: absolute;
    letter-spacing: -3px;
    font-family: "Big Shoulders Display", sans-serif;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    
  }

  .jakarta span{
    color: black;
    font-family: "Big Shoulders Display", sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }


.image img{ 
/* width: 540px; */
height: 100vh;
}

.text{
    width: 350px;
    height: 160px;
    margin-top: 160px;
    position: absolute;
    z-index: 1;
    margin-left: 61%; 
  
}

.text p{
    font-family: "Outfit", sans-serif;
    line-height: 32px;
    font-size: 22px;
    font-weight: light;
    color: darkgray;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 360px;
    z-index: 1;
    margin-left: 61%; 
  
}

.grou-2, .grou-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 72px;
    font-size: 20px;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: bold; 
    border: none;
    color: white;
    background-color: #000000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
   
        
}

.grou-2 {
    padding: 0 20px;
    width: 204px;
    
}

.grou-3 {
    padding: 0 10px;
    background-color: rgb(250, 213, 5);
    width: 56px;

}

.grou-3 img {
    max-width: 100%; 
}

.grou-3:hover {
    background-color: #83827e; 
}


.group-6 {
    max-width: 1110px;
    height: auto;
    margin-left: 120px;
   
    
}


.content {
    display: flex;
    
}

.group-4 {
    margin-top: 240px;
    margin-right: 32px;
    width: 350px;
   
}

.group-4 h2 {
    line-height: 60px;
    font-size: 60px;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: bolder;

}

.group-4 p {
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 32px;
    width: 350px;
    margin-top: 32px;
    color: darkgrey;
    /* Adicione mais estilos conforme necessário */
}

.rectangle-2 img {
   margin-left: 93px;
    max-width: 635px;
    height: 400px;
    margin-top: 180px;
   
}

.group-7{
 display: flex;
 
}

.Rectangle-copy-2 img {
  width: 635px;
    height: 720px;
    margin-top: 30px;   
}



.rectangle-text{
    margin: 30px;
   
}


.Rectangle-copy-4 img {
    width: 445px;
    height: 350px;
    margin-bottom: 30px;
    
}

.group-5 {
    width: 445px;
    height: 341px;
    background-color: black;
    padding: 48px 65px;
    margin-top: -5px;
   
}

.group-5 h3 {
    color: #fff;
    font-family: "Big Shoulders Display", sans-serif;
    width: 350px;
    height: 120px;
    line-height: 60px;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px; 
    
}

.group-5 p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    width: 350px;
    height: 96px;
    margin-top: 20px; 
    
}

.footer {
    background-color: black;
    margin-top: 150px;
    max-width: 1440px;
    height: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-10 {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%; 
   
}

.group-10 h3 {
    width: 159.57px;
    /* height: 58px;  */
    font-family: "Big Shoulders Display", sans-serif;
    line-height: 36px;
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    white-space: pre;
    margin-right: 55px;
    
}




.group-10 p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    line-height: 28px;
    font-size: 18px;
    color: #fff;
    width: 430px;
    height: 84px;
    margin: 0 150px; 
}

.redes{
    display: flex;
}

.redes img{
    margin: 20px;
    cursor: pointer;
}


.content{
    background-image: url(../img/Maps.png);
    background-repeat: no-repeat;
    background-size: cover;
   width: 1440px;
   height: 600px;
}

.btn-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    position: absolute;
    margin-left: 156px;
 
}


.grou-4, .grou-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 72px;
    font-size: 20px;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: bold; 
    border: none;
    color: white;
    background-color: #000000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
   
        
}

.grou-4 {
    padding: 0 20px;
    width: 204px;
    
}

.grou-5 {
    padding: 0 10px;
    background-color: rgb(250, 213, 5);
    width: 56px;

}

.grou-5 img {
    max-width: 100%; 
}

.grou-5:hover {
    background-color: #83827e; 
}